header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 100px;
    background-color: rgba(67, 86, 121, 1);
}
header > * {
    margin: 40px;
}
header img {
    height: 90px;
    cursor: pointer;
    justify-self: center;
    align-self: center;
}
header address {
    cursor: pointer;
}
header .shopacc {
    display: flex;
    width: 120px;
    justify-self: end;
    align-self: center;
}
header .telnum {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0  10px;
}
header p.telnum {
    display: flex;
    align-items: center;
}
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    font-size: 1.5em;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
header a:hover {
    background-color: rgb(54, 69, 97);
}