nav {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 69, 97);
    overflow: hidden;
    position: sticky;
    top: 0;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
nav .navicon {
    display: none;
    font-size: 2em;
    margin: 0 10px;
}
nav a:hover {
    background-color: rgb(88, 109, 146);
}