nav {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #364561;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a:hover {
    background: #435679;
}
