.menuwrapper {
    display: flex;
    justify-content: center;
}
.menu {
    width: 70%;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
}
input[type="search"] {
    width: 50%;
    height: 3em;
    border-radius: 20px;
    margin: 30px 0 10px 0;
    justify-self: center;
}
.categories li {
    display: inline-block;
    align-self: flex-start;
}