* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    } to {
        transform: translateX(0);
        opacity: 1;
    }
}